.first__section {
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first__section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first__section-title {
  font-size: 20px;
  color: var(--primary-color);
  align-items: center;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
}

.first__section-paragraph {
  margin-top: 20px;
  color: var(--gray-200);
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: center;
}

.first__section-start-link {
  margin-top: 40px;
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--white);
  display: flex;
  justify-content: center;
  width: 225px;
  height: 57px;
  font-size: 14px;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  transition: filter 250ms;
}

.first__section-start-link:hover {
  filter: brightness(1.2);
}

.first__section-img {
  max-width: 262px;
  margin-top: 40px;
}

@media (min-width: 768px) {
  .first__section {
    flex-direction: row;
  }

  .first__section-container {
    align-items: flex-start;
  }

  .first__section-title {
    text-align: left;
    font-size: 26px;
    line-height: 36px;
  }

  .first__section-paragraph {
    text-align: left;
  }

  .first__section-start-link {
  }

  .first__section-img {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .first__section {
  }

  .first__section-title {
    font-size: 36px;
    text-align: left;
    line-height: 55px;
  }

  .first__section-paragraph {
    text-align: left;
    font-size: 18px;
    line-height: 27px;
  }

  .first__section-img {
    margin-top: 0;
  }

  .first__section-start-link {
  }
}
