/* Essa propriedade box-sizing: border-box n deixar o que eu acrescentar somar com uma borda se eu colocar se eu disser
  que é 200px fica os 200px */
* {
  box-sizing: border-box;
}

/* O root é o elemento mais elevado do HTML poder ser o mesmo HTML */
:root {
  --primary-color: #0b498f;
  --gray-100: #c4c4c4;
  --gray-200: #00000080;
  --black: #000;
  --white: #fff;

  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Poppins", sans-serif;
}

.header,
.first__section,
.second__section,
.third__section,
.fourth__section,
.footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.second__section,
.third__section,
.fourth__section {
  margin-top: 80px;
}

@media (min-width: 768px) {
  .header,
  .first__section,
  .second__section,
  .third__section,
  .fourth__section,
  .footer {
    padding: 0 120px;
  }
}
