.header {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__start-logo {
  width: 116px;
  height: 30px;
}

.header__start-link {
  text-decoration: none;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  width: 130px;
  height: 32px;
  font-size: 10px;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  .header {
    display: flex;
    justify-content: space-between;
  }

  .header__start-logo {
    margin-top: 50px;
    width: 183px;
    height: 45px;
  }

  .header__start-link {
    width: 183px;
    height: 45px;
    font-size: 14px;
    margin-top: 54px;
  }
}
